<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuessTheWord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="Language"  value="Ka-Ge"/>
	</appSettings>
    <userSettings>
        <GuessTheWord.Properties.Settings>
            <setting name="LanguageString" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
        </GuessTheWord.Properties.Settings>
    </userSettings>
</configuration>